.map {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  .mapContainer {
    height: 100%;
    width: 100%;
  }
}

.timeline {
  width: 100%;
  height: 310px;
  position: fixed;
  bottom: 0;
}

.nameNode {
  // 放在右上角
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
}