.videoPage {
  h1 {
    text-align: center;
  }
  color: whitesmoke;
  text-align: center;
  .tags {
    margin: 20px;
  }
}

.videoContainer {
  height: 400px;
  width: 500px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  @media screen and (max-width: 768px) {
    width: 100%;
  }
  margin-bottom: 20px;
  .buttonGroup {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    button {
      margin: 0 10px;
    }
  }
}

.chart {
  top: 500px;
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  width: 100%;
}

.soundLine,
.emotionPiece {
  grid-column-start: 1;
  grid-column-end: 3;
  width: 90vw;
}

.StockMap,
.emotionLine {
  width: 45vw;
  font-size: 18px;
  text-align: center;
  height: 400px;
  margin-bottom: 50px;
}

.emotionTitle {
  text-align: center;
}

@media screen and (max-width: 768px) {
  .chart {
    top: 500px;
    position: absolute;
    display: flex;
    flex-direction: column;
  }

  .StockMap,
  .emotionPiece,
  .emotionLine,
  .soundLine {
    width: 100vw;
  }
  .StockMap,
  .emotionPiece,
  .emotionLine {
    padding: 10px;
  }
}
