.videoPage {
  h1 {
    text-align: center;
  }
  color: whitesmoke;
  text-align: center;
  .tags {
    margin: 20px;
  }
}

.videoContainer {
  height: 400px;
  width: 500px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  @media screen and (max-width: 768px) {
    width: 100%;
  }
  margin-bottom: 20px;
  .buttonGroup {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    button {
      margin: 0 10px;
    }
  }
}

.chart{
  display: flex;
}
.emotionPiece,
.emotionLine,
.soundLine {
  width: 50vw;
  margin: 10px;
  font-size: 18px;
  text-align: center;
}


.emotionLine{
  padding-top: 30px;
  @media screen and (max-width: 768px) {
    padding-top: 0px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.emotionTitle {
  text-align: center;
}


@media screen and (max-width: 768px) {
  .chart {
    flex-direction: column;
  }
  .emotionPiece,
  .emotionLine,
  .soundLine {
    width: 100vw;
  }
}
