.titleAnim {
  // 居中
  color: white;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  font-weight: 600;
  perspective: 600px;
  span {
    padding: 10px;
    width: 16.6666666%;
    display: inline-block;
    float: left;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    opacity: 0;
  }
}

.titleAnim span:nth-child(1) {
  animation-name: animC;
}
.titleAnim span:nth-child(2) {
  color: #555;
  animation-name: animO1;
}
.titleAnim span:nth-child(3) {
  color: #555;
  animation-name: animS1;
}
.titleAnim span:nth-child(4) {
  color: #555;
  animation-name: animM;
}
.titleAnim span:nth-child(5) {
  color: #555;
  animation-name: animO2;
}
.titleAnim span:nth-child(6) {
  animation-name: animS2;
}

@keyframes animC {
  0% , 90% { transform: translate3D( 240%,0,-400px ) rotateY( 85deg ); opacity: 0 }
  10%, 80% { transform: translate3D( 220%,0,0 ) rotateY( 40deg ); opacity: 1; }
  32%, 58% { transform: translate3D( 0,0,0 ) rotateY( 0deg ); }
}
@keyframes animO1 {
  15%, 75% { transform: translate3D( 120%,0, 0 ) rotateY( 90deg ); color: #999; opacity: 0 }
  32%, 58% { transform: translate3D( 0,0,0 ) rotateY( 0deg ); color: #FFF; opacity: 1 }
}
@keyframes animS1 {
  20%, 70% { transform: translate3D( 30%,0, 0 ) rotateY( 90deg ); color: #999; opacity: 0 }
  32%, 58% { transform: translate3D( 0,0,0 ) rotateY( 0deg ); color: #FFF; opacity: 1 }
}
@keyframes animM {
  20%, 70% { transform: translate3D( -30%,0, 0 ) rotateY( -90deg ); color: #999; opacity: 0 }
  32%, 58% { transform: translate3D( 0,0,0 ) rotateY( 0deg ); color: #FFF; opacity: 1 }
}
@keyframes animO2 {
  15%, 75% { transform: translate3D( -120%,0, 0 ) rotateY( -90deg ); color: #999; opacity: 0 }
  32%, 58% { transform: translate3D( 0,0,0 ) rotateY( 0deg ); color: #FFF; opacity: 1 }
}
@keyframes animS2 {
  0% , 90% { transform: translate3D( -240%,0,-400px ) rotateY( -85deg ); opacity: 0 }
  10%, 80% { transform: translate3D( -220%,0,0 ) rotateY( -40deg ); opacity: 1; }
  32%, 58% { transform: translate3D( 0,0,0 ) rotateY( 0deg ); }
}
