.container {
  display: flex;
  flex-direction: column;
  .map {
    width: 300px;
    height: 300px;
    // 圆形
    border-radius: 50%;
    background-image: url("../../../../assets/png/shanghai.png");
    // 背景图缩放并居中
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid #ccc;
    cursor: pointer;
  }
}

// 来回移动的动画
@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}


